.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #777777;
}

.featured-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: 200px;
    justify-content: center;
    margin-top: 2vh;
    border: solid #c5a975;
    background-color: #262626;
}

.featured-text {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bolder;
    color: #c5a975;
}

.video-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    margin-top: 25px;
    /* background-color: red; */
}

.youtube-vid {
    aspect-ratio: 16 / 9;
    width: 100%;
    margin-top: 25px;
}

.text-box-container {
    display: flex;
    justify-content: center;
    background-color: #262626;
    border: solid #c5a975;
    width: 100%;
    max-width: 1000px;
    margin-top: 25px;
}

.text-box-text {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
    color: #c5a975;
}

.large-img-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin-top: 25px;
}

.large-img {
    width: 100%;
}

.img-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-top: 25px;
}

.img-grid-row-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}

.img-grid-half-row-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.grid-img {
    width: 45%;
    height: auto;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin-top: 25px;
}

.map-location {
    width: 100%;
    max-width: 400px;
    margin: 10px;
}

.google-maps {
    border: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.location-text-container {
    margin-top: 25px;
    width: 50%;
    background-color: #262626;
    color: #c5a975;
    padding: 10px;
    border: solid #c5a975;
}

.location-title-text {
    font-size: 20px;
    font-weight: bold;
}

.location-text {
    margin-top: 25px;
}

.contact-text-big-container {
    display: flex;
}

.contact-text-container {
    margin-left: 25px;
    margin-top: 25px;
    background-color: #262626;
    color: #c5a975;
    padding: 10px;
    border: solid #c5a975;
    width: 50%;
}

.contact-title-text {
    font-size: 20px;
    font-weight: bold;
}

.contact-text {
    margin-top: 25px;
}

.email {
    color: #777777;
}

.follow-us-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
}

.follow-us-text {
    font-size: 20px;
    font-weight: bold;
}

.social-media-button {
    font-size: 25px;
    background-color: #c5a975;
    color: black;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    margin: 25px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: font-size 100ms ease-out 100ms
}

.social-media-button:hover {
    animation-name: hover;
    font-size: 30px;
}

@keyframes hover {
    0% {
        background-color: #c5a975;
        color: black;
    }
    50% {
        background-color: black;
        color: #c5a975;
    }
    100% {
        background-color: #c5a975;
        color: black;
    }
}

@media only screen and (max-width: 650px) {
    .img-grid-row-container {
        flex-direction: column;
        align-items: center;
    }
    .img-grid-half-row-container {
        margin-top: 10px;
        width: 100%;
    }
    .contact-container {
        flex-direction: column;
        align-items: center; 
    }
}