.navbar {
  display: flex;
  border-bottom: solid 2px;
  border-color: #AAAAAA;
  height: 150px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin-right: 100px;
  width: 400px;
  justify-content: space-between;
}

.nav-item {
  margin: 2px;
  font-size: 1rem;
  font-weight: bold;
}

.nav-link-home {
  color: red;
  text-decoration: none;
}

.nav-links {
  color: #777777;
  text-decoration: none;
}

.navbar-logo {
  color: #262626;
  text-decoration: none;
  margin-left: 100px;
  font-size: 3rem;
  font-weight: bold;
}