.privacy-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #555555;
}

.privacy-title-text {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
    color: #c5a975;
    background-image: linear-gradient(179deg, #ffdd9e, #6e5a3b);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.privacy-text {
    margin-top: 25px;
    color: #c5a975;
}